version: '3'

services:
  server:
    build: ./
    restart: always
    ports:
      - '5001:5001'
    depends_on:
      - postgresql
  postgresql:
    image: postgres:17-alpine
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: postgres
